*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
.element{
    box-sizing: border-box;
    /* min-height:50px;
    min-width: 50px; */
    background-color: lightgreen;
    border:1px solid green;
    flex:1;
}
.container{
    display:flex;
    flex:1;
}

.parentContainer{
    height: 100vh;
    width:100vh;
    display:flex;
    flex-direction: column;
}
button{
    box-sizing: border-box;
    height:3vh;

}