*{
    margin: 0;
    padding: 0;
}
.element{
    box-sizing: border-box;
    min-height:50px;
    min-width: 50px;
    background-color: lightgreen;
    border:2px solid green;
    flex:1;
}
.container{
    display:flex;
    flex:1;
}

.parentContainer{
    height: 100vh;
    display:flex;
    flex-direction: column;
}